@media (max-width: 670px) {
  .content2 {
    margin: 0 0px 0 15px;
    padding: 15px;
    width: 100%;
  }
  .content12 {
    margin: 0 0px 0 30px;
    padding: 15px;
    width: 450px;
    align-items: center;
    justify-content: center;
  }
  .svg1 {
    display: none;
  }
  .search {
    width: 300px;
    position: absolute;
    height: 100px;
    margin: 0 0 0 50px;
  }
  .excel {
    margin: 20px 0 0 170px;
  }
}

@media only screen and (min-width: 671px) {
  .content2 {
    margin: 0 0px 0 50px;
    width: 80%;
    align-items: center;
    justify-content: center;
  }
  .content12 {
    margin: 0 0px 0 50px;
    padding: 15px;
    width: 80%;
    align-items: center;
    justify-content: center;
  }

  .svg1 {
    display: none;
  }
  .search {
    width: 300px;
    position: absolute;
    height: 100px;
    margin: 0 0 0 210px;
  }
  .excel {
    margin: 20px 0 0 250px;
  }
}

@media only screen and (min-width: 1024px) {
  .svg1 {
    position:absolute !important;
    z-index: -1;
    display: block;
    width: 1519px;
    height: 370px;
  }
  .search {
    width: 300px;
    position: absolute;
    height: 100px;
    margin: 0 0 0 0px;
  }
  .excel {
    margin: 20px 0 0 50px;
  }
}

@media only screen and (min-width: 992px) {
  .content2 {
    margin: 0 0px 0 190px;
    justify-content: space-around;
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  .content12 {
    margin: 0 0px 0 50px;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .search {
    width: 300px;
    position: absolute;
    height: 100px;
    margin: 0 0 0 80px;
  }
}
/* 
@media only screen and (min-width: 992px) {
  .content2 {
    margin: 0 0px 0 190px;
    justify-content: space-around;
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  .content12 {
    margin: 0 0px 0 50px;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
} */
@media only screen and (min-width: 992px) {
  .content2 {
    margin: 0 0px 0 190px;
    justify-content: space-around;
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  .content12 {
    margin: 0 0px 0 50px;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .search {
    width: 300px;
    position: absolute;
    height: 100px;
    margin: 0 0 0 780px;
  }

  .excel {
    margin: 20px 0 0 550px;
  }
}
